html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: white;
}

.container {
    padding: 100px;
}